/* You can add global styles to this file, and also import other style files */


.navbar-brand{
  color: #49c546;
}

.nav-link{
  color:black;
}

.jumbotron{
  background-color:#254e58;
  border-radius: 0;
  color:white;
}

.form-container{
  background-color:#88bdbc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 15px;
}

#home {
  background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/cappadocia.jpg);
  height: 125vh;
}
