<h3>Travel Request Form</h3>
<button type="button" class="btn btn-primary">Primary</button>
<form>
  <div class="form-group">
    <label for="originationAirport">Original Airport: </label>
    <input type="text" class="form-control" id="originationAirport" aria-describedby="originAir" placeholder="Enter Origin Airport">
    <small id="originAir" class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <label for="destinationAirport">Destination Airport: </label>
    <input type="text" class="form-control" id="destinationAirport" aria-describedby="originAir" placeholder="Enter Destination Airport">
    <small id="destinAir" class="form-text text-muted"></small>
  </div>
</form>
